// compileCompressed: ../dist/css/$1.min.css

@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@400;700&display=swap');

$primary:       rgb(34,148,245);
/*$secondary:     $gray-600 !default;
$success:       $green !default;
$info:          $cyan !default;
$warning:       $yellow !default;
$danger:        $red !default;
$light:         $gray-100 !default;*/
$dark:          rgb(11,32,49);
$font-family-sans-serif: 'Roboto', sans-serif;

h1,h2,h3,h4,h5,h6,.lead {
  font-family: 'Antonio', sans-serif;
}
.column_spacing {
  margin-top: 30px !important;
}
.background {
  width: 100%;
  display: block;
}

@import "bootstrap";
